In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)

In [94]:
missing=["No Info","None","none"]
df=pd.read_csv('CAX_startup_Data.csv',na_values=missing)

In [95]:
df.head()

,Company_Name,Dependent-Company Status,year of founding,Age of company in years,Internet Activity Score,Short Description of company profile,Industry of company,Focus functions of company,Investors,Employee Count,Employees count MoM change,Has the team size grown,Est. Founding Date,Last Funding Date,Last Funding Amount,Country of company,Continent of company,Number of Investors in Seed,Number of Investors in Angel and or VC,Number of Co-founders,Number of of advisors,Team size Senior leadership,Team size all employees,Presence of a top angel or venture fund in previous round of investment,Number of of repeat investors,Number of Sales Support material,Worked in top companies,Average size of companies worked for in the past,Have been part of startups in the past?,Have been part of successful startups in the past?,Was he or she partner in Big 5 consulting?,Consulting experience?,Product or service company?,Catering to product/service across verticals,Focus on private or public data?,Focus on consumer data?,Focus on structured or unstructured data,Subscription based business,Cloud or platform based serive/product?,Local or global player,Linear or Non-linear business model,"Capital intensive business e.g. e-commerce, Engineering products and operations can also cause a business to be capital intensive",Number of of Partners of company,Crowdsourcing based business,Crowdfunding based business,Machine Learning based business,Predictive Analytics business,Speech analytics business,Prescriptive analytics business,Big Data Business,Cross-Channel Analytics/ marketing channels,Owns data or not? (monetization of data) e.g. Factual,Is the company an aggregator/market place? e.g. Bluekai,Online or offline venture - physical location based business or online venture?,B2C or B2B venture?,Top forums like 'Tech crunch' or 'Venture beat' talking about the company/model - How much is it being talked about?,Average Years of experience for founder and co founder,Exposure across the globe,Breadth of experience across verticals,Highest education,Years of education,Specialization of highest education,Relevance of education to venture,Relevance of experience to venture,Degree from a Tier 1 or Tier 2 university?,Renowned in professional circle,Experience in selling and building products,Experience in Fortune 100 organizations,Experience in Fortune 500 organizations,Experience in Fortune 1000 organizations,Top management similarity,Number of Recognitions for Founders and Co-founders,Number of of Research publications,Skills score,Team Composition score,Dificulty of Obtaining Work force,Pricing Strategy,Hyper localisation,Time to market service or product,Employee benefits and salary structures,Long term relationship with other founders,Proprietary or patent position (competitive position),Barriers of entry for the competitors,Company awards,Controversial history of founder or co founder,Legal risk and intellectual property,Client Reputation,google page rank of company website,Technical proficiencies to analyse and interpret unstructured data,Solutions offered,Invested through global incubation competitions?,Industry trend in investing,Disruptiveness of technology,Number of Direct competitors,Employees per year of company existence,Last round of funding received (in milionUSD),"Survival through recession, based on existence of the company through recession times",Time to 1st investment (in months),"Avg time to investment - average across all rounds, measured from previous investment",Gartner hype cycle stage,Time to maturity of technology (in years),Percent_skill_Entrepreneurship,Percent_skill_Operations,Percent_skill_Engineering,Percent_skill_Marketing,Percent_skill_Leadership,Percent_skill_Data Science,Percent_skill_Business Strategy,Percent_skill_Product Management,Percent_skill_Sales,Percent_skill_Domain,Percent_skill_Law,Percent_skill_Consulting,Percent_skill_Finance,Percent_skill_Investment,Renown score
0,Company1,Success,NaN,NaN,-1.0,Video distribution,NaN,operation,KPCB Holdings|Draper Fisher Jurvetson (DFJ)|Kl...,3.0,0.0,No,NaN,5/26/2013,450000.0,United States,North America,2.0,0.0,1,2,2,15.0,Yes,4.0,Nothing,No,Small,No,No,No,No,Service,No,Private,No,Both,Yes,Platform,Global,Linear,Yes,NaN,No,No,No,No,No,No,No,No,No,Yes,Online,B2C,High,High,Yes,Low,Masters,21.0,business,Yes,Yes,Tier_1,500.0,Medium,0.0,0.0,0.0,NaN,0.0,NaN,0.0,Low,Low,Yes,No,High,NaN,No,No,Yes,No,No,No,NaN,9626884.0,No,Yes,No,2.0,Low,0.0,1.500000,0.45,NaN,NaN,11.560000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
1,Company2,Success,2011.0,3.0,125.0,NaN,Market Research|Marketing|Crowdfunding,"Marketing, sales",NaN,NaN,NaN,No,NaN,NaN,NaN,United States,North America,5.0,0.0,2,0,4,20.0,No,0.0,medium,Yes,Large,Yes,Yes,No,No,Product,No,Public,Yes,Both,No,Platform,Local,Non-Linear,No,Few,Yes,No,Yes,Yes,No,No,Yes,Yes,Yes,No,Online,B2C,Low,High,Yes,High,Masters,21.0,Supply Chain Management & Entrepreneurship,Yes,Yes,Tier_1,500.0,High,0.0,0.0,0.0,Medium,13.0,NaN,34.0,High,Medium,Yes,No,Low,NaN,No,Yes,Yes,No,No,Yes,Medium,1067034.0,Yes,Yes,No,3.0,Medium,0.0,6.666667,5,Not Applicable,10.0,9.000000,Trough,2 to 5,15.882353,11.764706,15.000000,12.941176,0.0,8.823529,21.764706,10.882353,2.941176,0.000000,0.0,0.0,0.0,0.0,8.0
2,Company3,Success,2011.0,3.0,455.0,Event Data Analytics API,Analytics|Cloud Computing|Software Development,operations,TechStars|Streamlined Ventures|Amplify Partner...,14.0,0.0,No,12/1/2011,10/23/2013,2350000.0,United States,North America,15.0,0.0,3,0,7,10.0,No,0.0,low,Yes,Medium,No,No,No,No,Both,Yes,Private,Yes,Both,Yes,cloud,Local,Non-Linear,No,Few,No,No,No,Yes,No,No,Yes,No,No,No,Online,B2B,Low,Medium,Yes,Low,Bachelors,18.0,General,Yes,Yes,Tier_2,500.0,High,0.0,0.0,1.0,Medium,18.0,NaN,36.0,High,Medium,Yes,No,Low,NaN,Yes,Yes,Yes,No,No,No,Low,71391.0,Yes,Yes,Yes,3.0,Medium,0.0,3.333333,2.35,Not Applicable,2.0,7.344444,Trough,2 to 5,9.401709,0.000000,57.478632,0.000000,0.0,3.846154,17.094017,9.401709,0.000000,2.777778,0.0,0.0,0.0,0.0,9.0
3,Company4,Success,2009.0,5.0,-99.0,The most advanced analytics for mobile,Mobile|Analytics,Marketing & Sales,Michael Birch|Max Levchin|Sequoia Capital|Keit...,45.0,10.0,No,6/20/2009,5/10/2012,10250000.0,United States,North America,6.0,0.0,2,0,4,50.0,Yes,0.0,low,No,Large,Yes,Yes,No,No,Product,Yes,Public,Yes,Structured,Yes,Platform,Local,Non-Linear,No,Few,Yes,No,No,No,No,No,No,No,No,No,Online,B2C,Medium,Medium,Yes,Low,Bachelors,18.0,Computer Systems Engineering,Yes,Yes,Tier_2,NaN,Low,0.0,0.0,0.0,Medium,2.0,NaN,15.5,Medium,Medium,Yes,No,Low,Good,No,Yes,Yes,No,No,No,Low,11847.0,No,Yes,Yes,4.0,Medium,2.0,10.000000,10.25,Not Applicable,1.0,8.700000,Trough,2 to 5,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,5.0
4,Company5,Success,2010.0,4.0,496.0,The Location-Based Marketing Platform,Analytics|Marketing|Enterprise Software,Marketing & Sales,DFJ Frontier|Draper Nexus Ventures|Gil Elbaz|A...,39.0,3.0,No,4/1/2010,12/11/2013,5500000.0,United States,North America,7.0,0.0,1,1,8,40.0,No,0.0,high,No,Small,No,No,No,No,Product,Yes,Public,Yes,Both,No,Platform,Local,Non-Linear,Yes,Few,No,No,No,No,No,No,Yes,No,No,No,Online,B2B,Low,High,Yes,Medium,Bachelors,18.0,Industrial Engineering and Computer Science,Yes,Yes,NaN,500.0,High,0.0,0.0,0.0,Low,5.0,Few,23.0,Medium,Medium,Yes,No,Low,Bad,Yes,Yes,Yes,No,No,No,Low,201814.0,Yes,Yes,No,3.0,Medium,0.0,10.000000,5.5,Not Applicable,13.0,9.822222,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,6.0

In [97]:
colss=["Percent_skill_Entrepreneurship","Percent_skill_Operations","Percent_skill_Engineering","Percent_skill_Marketing","Percent_skill_Leadership",
       'Percent_skill_Data Science', 'Percent_skill_Business Strategy',
       'Percent_skill_Product Management', 'Percent_skill_Sales',
       'Percent_skill_Domain', 'Percent_skill_Law', 'Percent_skill_Consulting',
       'Percent_skill_Finance', 'Percent_skill_Investment', 'Renown score']

In [104]:
print("Shape of the dataset is {} rows and {} columns" .format(len(df),len(df.columns)))

Shape of the dataset is 472 rows and 116 columns

In [100]:
df.rename(columns={'Capital intensive business e.g. e-commerce, Engineering products and operations can also cause a business to be capital intensive'
                   :"Capital intensive business", 'Survival through recession, based on existence of the company through recession times':
                  "Survival through recession", "Top forums like 'Tech crunch' or 'Venture beat' talking about the company/model - How much is it being talked about?"
                  :"Top forums talking about company/Model"},inplace=True)

In [102]:
# converting  Est. Founding Date and Last Funding Date from object to datetime
df["Est. Founding Date"]=pd.to_datetime(df["Est. Founding Date"])
df["Last Funding Date"]=pd.to_datetime(df["Last Funding Date"])
# converting Last round of funding received (in milionUSD) from object to float
# it is object variable because it consists of a string "unknown amount" in it,so replacing it with nan and converting
# the particular column to float
df["Last round of funding received (in milionUSD)"].replace({"unknown amount":np.nan},inplace=True)
df["Last round of funding received (in milionUSD)"]=df["Last round of funding received (in milionUSD)"].astype(float)

In [105]:
dtypes=pd.DataFrame(df.dtypes,columns=["Data Types"])
dtypes

                                                        Data Types
Company_Name                                                object
Dependent-Company Status                                    object
year of founding                                           float64
Age of company in years                                    float64
Internet Activity Score                                    float64
Short Description of company profile                        object
Industry of company                                         object
Focus functions of company                                  object
Investors                                                   object
Employee Count                                             float64
Employees count MoM change                                 float64
Has the team size grown                                     object
Est. Founding Date                                  datetime64[ns]
Last Funding Date                                   datetime64[ns]
Last Funding Amount                                        float64
Country of company                                          object
Continent of company                                        object
Number of Investors in Seed                                float64
Number of Investors in Angel and or VC                     float64
Number of Co-founders                                        int64
Number of of advisors                                        int64
Team size Senior leadership                                  int64
Team size all employees                                    float64
Presence of a top angel or venture fund in prev...          object
Number of of repeat investors                              float64
Number of  Sales Support material                           object
Worked in top companies                                     object
Average size of companies worked for in the past            object
Have been part of startups in the past?                     object
Have been part of successful startups in the past?          object
Was he or she partner in Big 5 consulting?                  object
Consulting experience?                                      object
Product or service company?                                 object
Catering to product/service across verticals                object
Focus on private or public data?                            object
Focus on consumer data?                                     object
Focus on structured or unstructured data                    object
Subscription based business                                 object
Cloud or platform based serive/product?                     object
Local or global player                                      object
Linear or Non-linear business model                         object
Capital intensive business                                  object
Number of  of Partners of company                           object
Crowdsourcing based business                                object
Crowdfunding based business                                 object
Machine Learning based business                             object
Predictive Analytics business                               object
Speech analytics business                                   object
Prescriptive analytics business                             object
Big Data Business                                           object
Cross-Channel Analytics/ marketing channels                 object
Owns data or not? (monetization of data) e.g. F...          object
Is the company an aggregator/market place? e.g....          object
Online or offline venture - physical location b...          object
B2C or B2B venture?                                         object
Top forums talking about company/Model                      object
Average Years of experience for founder and co ...          object
Exposure across the globe                                   object
Breadth of experience across verticals                      object
Highest education                                           object
Years of education                                         float64
Specialization of highest education                         object
Relevance of education to venture                           object
Relevance of experience to venture                          object
Degree from a Tier 1 or Tier 2 university?                  object
Renowned in professional circle                            float64
Experience in selling and building products                 object
Experience in Fortune 100 organizations                    float64
Experience in Fortune 500 organizations                    float64
Experience in Fortune 1000 organizations                   float64
Top management similarity                                   object
Number of Recognitions for Founders and Co-foun...         float64
Number of  of Research publications                         object
Skills score                                               float64
Team Composition score                                      object
Dificulty of Obtaining Work force                           object
Pricing Strategy                                            object
Hyper localisation                                          object
Time to market service or product                           object
Employee benefits and salary structures                     object
Long term relationship with other founders                  object
Proprietary or patent position (competitive pos...          object
Barriers of entry for the competitors                       object
Company awards                                              object
Controversial history of founder or co founder              object
Legal risk and intellectual property                        object
Client Reputation                                           object
google page rank of company website                        float64
Technical proficiencies to analyse and interpre...          object
Solutions offered                                           object
Invested through global incubation competitions?            object
Industry trend in investing                                float64
Disruptiveness of technology                                object
Number of Direct competitors                               float64
Employees per year of company existence                    float64
Last round of funding received (in milionUSD)              float64
Survival through recession                                  object
Time to 1st investment (in months)                         float64
Avg time to investment - average across all rou...         float64
Gartner hype cycle stage                                    object
Time to maturity of technology (in years)                   object
Percent_skill_Entrepreneurship                             float64
Percent_skill_Operations                                   float64
Percent_skill_Engineering                                  float64
Percent_skill_Marketing                                    float64
Percent_skill_Leadership                                   float64
Percent_skill_Data Science                                 float64
Percent_skill_Business Strategy                            float64
Percent_skill_Product Management                           float64
Percent_skill_Sales                                        float64
Percent_skill_Domain                                       float64
Percent_skill_Law                                          float64
Percent_skill_Consulting                                   float64
Percent_skill_Finance                                      float64
Percent_skill_Investment                                   float64
Renown score                                               float64

In [107]:
# checking for null values in the dataset
null=pd.DataFrame(df.isnull().sum(),columns=["Null Values"])
null["% Missing Values"]=(df.isna().sum()/len(df)*100)
null.style.background_gradient(cmap='viridis',low =0.2,high=0.1)